@import '../../../styles/variables';

.app-header {
  background-color: transparent;
  // border-bottom: 1px solid $color-header-border;
  position: sticky;
  top: 0;
  z-index: 100;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm $spacing-sm;
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: $breakpoint-md) {
      padding: $spacing-sm $spacing-md;
    }
  }
}

// -------- LOGO --------
.logo-area {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 0;
  background-color: $color-white;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: $color-primary;
  -webkit-mask: url('/assets/logo-sccon.svg') no-repeat center;
  mask: url('/assets/logo-sccon.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.brand-text {
  display: none;
}
// -------- MENU DESKTOP --------
.nav-menu {
  display: flex;
  gap: $spacing-lg;
  align-items: center;
  background-color: $color-primary;


  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.nav-group {
  display: flex;
  gap: $spacing-md;
  align-items: center;
}

.nav-item {
  color: $color-white;
  text-decoration: none;
  font-size: $font-size-base;
  font-weight: 400;
  padding: $spacing-sm $spacing-md;
  border: 1px solid $color-nav-border-light;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $color-nav-hover-light;
  }

  &.active {
    border: 1px solid $color-white;
    background-color: $color-nav-hover-light;
  }

  &.submenu-item {
    font-size: $font-size-sm;
    padding-left: calc($spacing-md + $spacing-sm);
  }
}

// -------- MENU MOBILE --------
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  span {
    width: 25px;
    height: 3px;
    background-color: $color-white;
    border-radius: 2px;
    transition: all $transition-speed $transition-easing;
  }
}

.nav-mobile {
  display: none;
  flex-direction: column;
  background-color: $color-nav-hover-light;
  padding: $spacing-md 0;
  border-top: 1px solid $color-nav-border-light;

  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  .nav-item {
    border: none;
    padding: $spacing-md $spacing-lg;
    border-radius: 0;
    font-size: $font-size-base;

    &:hover,
    &.active {
      background-color: $color-nav-hover-light;
      border: none;
    }

    &.submenu-item {
      padding-left: calc($spacing-lg + $spacing-lg);
      font-size: $font-size-sm;
    }
  }
}